/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&family=Lato:wght@400;700&display=swap");

:root {
  --light-clr: #fff;
  --grey-clr: #d4d4d4;
  --dark-clr: #000026;
  --accent-clr: #4830e6;

  --greyscale-dark-clr: #4c4c65;
  --greyscale-light-clr: #e2e3e7;

  --header-font-family: "Inconsolata", monospace;
  --para-font-family: "Lato", sans-serif;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.btn {
  padding: 5px 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
}

.primary-btn {
  background: var(--accent-clr);
  border: 2px solid var(--accent-clr);
  color: var(--light-clr);
}

.primary-btn:hover {
  background: var(--light-clr);
  color: var(--accent-clr);
}

.secondary-btn {
  border: 2px solid var(--accent-clr);
}

.secondary-btn:hover {
  background: var(--accent-clr);
  color: var(--light-clr);
}

.card {
  background: var(--light-clr);
  border-radius: 5px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
  padding-top: 1rem;
  transition: 0.3s;

  display: flex;
  flex-direction: column;
}

body {
  font-family: var(--para-font-family);
  font-size: 16px;
  line-height: 1.5;
  background: var(--light-clr);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

header .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--header-font-family);
}

.navbar .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--accent-clr);
  height: 100%;
}

.navbar a {
  color: var(--accent-clr);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar a:hover {
  color: var(--dark-clr);
  text-decoration: underline;
}

.navbar ul li {
  margin-left: 1.75rem;
  text-decoration: none;
  list-style: none;
}

.hero-banner .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.hero-banner h1 {
  font-size: 3rem;
  font-family: var(--header-font-family);
  line-height: 1.25;
}

.hero-banner .description {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

.hero-banner .role {
  font-weight: bold;
  font-size: 1.25rem;
  font-family: "Inconsolata", monospace;
  color: var(--accent-clr);
}

.hero-banner .cta-btns {
  margin-top: 2.5rem;
}

.hero-banner .cta-btns .my-work {
  margin-right: 2rem;
}

.project-section {
  background: var(--grey-clr);
  padding: 4rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-section .project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.project-section img {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.project-section h2,
.skills-section h2 {
  font-size: 2.5rem;
  font-family: var(--header-font-family);
  margin-bottom: 1rem;
}

.project-section .card .project-info {
  padding: 0 1rem;
}

.project-section .card .project-info h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project-section a {
  margin-top: 2rem;
}
